body {
  margin: 0;
}

.header {
  height: 110px;
  display: flex;
  justify-content: flex-end;
  border-top: 3px solid #330099;
  border-bottom: 3px solid #330099;
}

.menu,
.menu__button {
  padding-top: 46px;
}


.menu__item {
  font: 800 20px/25px gilroyextrabold, sans-serif;
  margin-right: 43px;
  color: #585858;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}
.menu__button {
  width: 119px;
  height: 24px;
  margin-top: 30px;
  margin-right: 130px;
  font: 800 20px/24px montserratextrabold, sans-serif;
  color: #fff;
  background: #330099;
  padding: 13px 30px;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
}

.menu__button:hover {
  opacity: 0.5;
}

.main-header {
  width: 100%;
  height: 481px;
  background: url(img/main.svg);
}

.main-header__title {
  text-align: right;
  width: 40%;
  height: 98px;
  padding-top: 151px;
  padding-left: 50%;
  margin: 0;
  margin-bottom: 8px;
  font: 900 40px/49px montserratblack, sans-serif;
  color: #330099;
}

.main-header__subtitle {
  text-align: right;
  width: 25%;
  height: 74px;
  margin: 0;
  padding-left: 66%;
  font: bold 30px/37px montserratbold, sans-serif;
  color: #fff;
}

.main-content {
  background: #f9f9f9;
  height: 747px;
}

.main-content__title {
  color: #585858;
  font: 900 30px/37px montserratblack, sans-serif;
  margin: 0 0 50px;
  padding-top: 90px;
  text-align: center;
}

.col {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 96px;
  padding-left: 130px;
}

.col-1 {
  background: no-repeat url(img/img1.svg);
  background-position: top center;
  height: 318px;
  margin-right: 111px;
  width: 318px;
}

.col-1__title,
.col-2__title,
.col-3__title {
  color: #585858;
  font: 900 30px/37px montserratblack, sans-serif;
  margin-bottom: 10px;
  padding-top: 115px;
  text-align: center;
}

.col-2 {
  background: no-repeat url(img/img2.svg);
  background-position: top center;
  height: 288px;
  margin-right: 111px;
  width: 320px;
}

.col-2__title {
  width: 181px;
  padding-left: 69px;
  margin-bottom: 25px;
}

.col-3 {
  background: no-repeat url(img/img3.svg);
  background-position: top center;
  height: 319px;
  width: 345px;
}

.col-1__text,
.col-2__text,
.col-3__text {
  color: #585858;
  font: 500 20px/24px montserratmedium, sans-serif;
  text-align: center;
}

.main-content__button {
  font: 800 20px/24px montserratextrabold, sans-serif;
  margin: 0 34% 0 38%;
  color: #FFDA45;
  background: #330099;
  padding: 21px 36px;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
}

.main-content__button:hover {
  opacity: 0.5;
}

.main-info__title {
  color: #585858;
  font: 900 30px/37px montserratblack, sans-serif;
  padding-top: 90px;
  text-align: center;
}

.row1 {
  display: flex;
  position: relative;
  padding-top: 50px;
  padding-left: 130px;
}

.row1__title {
  color: #585858;
  font: 600 30px/37px montserratsemibold, sans-serif;
  margin: 0;
  padding-top: 3px;
  padding-left: 25px;
  text-align: left;
  width: 567px;
}

.row1__subtitle {
  color: #585858;
  font: 500 20px/24px montserratmedium, sans-serif;
  margin: 0;
  padding-top: 120px;
  padding-left: 201px;
  position: absolute;
  width: 435px;
}

.row2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  padding-top: 85px;
  padding-left: 557px;
  padding-right: 130px;
}

.row2__title {
  color: #585858;
  font: 600 30px/37px montserratsemibold, sans-serif;
  margin: 0;
  padding-top: 3px;
  padding-right: 25px;
  text-align: right;
  width: 553px;
}

.row2__subtitle {
  color: #585858;
  font: 500 20px/24px montserratmedium, sans-serif;
  margin: 0;
  padding-top: 80px;
  padding-right: 201px;
  position: absolute;
  text-align: right;
  width: 442px;
}

.row3 {
  display: flex;
  margin-bottom: 90px;
  position: relative;
  padding-top: 102px;
  padding-left: 130px;
}

.row3__title {
  color: #585858;
  font: 600 30px/37px montserratsemibold, sans-serif;
  margin: 0;
  padding-top: 3px;
  padding-left: 26px;
  text-align: left;
  width: 510px;
}

.row3__subtitle {
  color: #585858;
  font: 500 20px/24px montserratmedium, sans-serif;
  margin: 0;
  padding-top: 88px;
  padding-left: 201px;
  position: absolute;
  text-align: left;
  width: 380px;
}

.main-form {
  background: rgba(51, 0, 153, 0.12);
  height: 858px;
}

.main-form__title {
  color: #585858;
  font: 900 30px/37px montserratblack, sans-serif;
  margin: 0;
  padding-top: 60px;
  text-align: center;
}

.main-form__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
}

.contact-form__title {
  color: #585858;
  font: 600 20px/24px montserratsemibold, sans-serif;
  margin: 0;
  margin-bottom: 36px;
  padding-top: 49px;
  padding-left: 533px;
  text-align: center;
  width: 374px;
}

.contact-form__input-wrapper {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 300px;
}

.contact-form__input_contact-form__input_name,
.contact-form__input_contact-form__input_tel,
.contact-form__input_contact-form__input_email {
  border-radius: 50px;
  border-color: #fff;
  height: 64px;
  font: 600 15px/18px montserratsemibold, sans-serif;
  padding-left: 40px;
  width: 300px;
}

.contact-form__input_contact-form__input_email {
  margin-bottom: 36px;
}

.contact-form__button {
  font: 900 20px/24px montserratblack, sans-serif;
  margin: 0 40% 0 40%;
  color: #fff;
  background: #4ab272;
  padding: 23px 91px;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
}

.contact-form__button:hover {
  opacity: 0.5;
}

.footer {
  align-items: center;
  background: #330099;
  color: #fff;
  height: 322px;
}

.footer__title {
  font: normal 20px/23px robotoregular, sans-serif;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 60px;
  text-align: center;
}

.icon__linkedin {
  padding-left: 529px;
}

.icon__instagram,
.icon__facebook {
  padding-left: 100px;
}

.footer__text {
  font: normal 20px/23px robotoregular, sans-serif;
  margin: 0;
  margin-bottom: 60px;
  padding-top: 76px;
  text-align: center;
}
